africastalking
antiorm
argcomplete
asgiref
boto3
botocore
certifi
cffi
cfn-flip
charset-normalizer
click
contextlib2
cryptography
db
dj-database-url
Django
django-cors-headers
django-environ
django-storages
djangorestframework
djangorestframework-simplejwt
durationpy
environ
gunicorn
hjson
idna
jmespath
kappa
MarkupSafe
packaging
placebo
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-decouple
python-slugify
pytz
PyYAML
requests
s3transfer
schema
six
sqlparse
stripe
text-unidecode
toml
tqdm
troposphere
typing_extensions
urllib3
Werkzeug
whitenoise